body {
    font-family: sans-serif;
}

.form {
    max-width: 275px;
    margin: 0;
    border-radius: 8px; 
    padding: 10px;
}

h2 {
    margin: 0 0 10px 0;
    font-size: large;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.message {
    font-size: 12px;
}

.textarea {
    resize: vertical;
    min-height: 20px;
    max-height: 150px;
}

.checkbox-group {
    margin-bottom: 5px;
}

button {
    display: block;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}