html {
    font-family: Ubuntu, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article-title {
    font-family: Oswald;
}