:root {
	--akcent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--bg-svetlyy: #f2f2f3;
}

.footer {
	padding: 60px 0 40px;
	margin-top: auto;
	background-image: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	text-align: center;
}

.footer-top {
	border-bottom: 1px solid var(--stroke);
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 40px;
}

.menu ul {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--text-nabornyy);
	transition: color 0.2s;
}

.menu a:hover {
	color: #3596ed;
}

.copyright {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: var(--text-podpis);
}
