:root {
	--akcent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--bg-svetlyy: #f2f2f3;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #d3cbd9;
	gap: 10px;
}

.phone {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: right;
	color: var(--text-podpis);
}

.phone-text {
	margin-bottom: 8px;
}

.phone-link {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	color: var(--text-zagolovochnyy);
	text-decoration: none;
	transition: color 0.2s;
}

.phone-link:hover {
	color: #3596ed;
}
