:root {
	--akcent: #3596ed;
	--stroke: #d3cbd9;
	--text-podpis: #858e8a;
	--text-zagolovochnyy: #2c332f;
	--text-nabornyy: #535755;
	--bg-svetlyy: #f2f2f3;
	--font-family: "Ubuntu", sans-serif;
	--second-family: "Oswald", sans-serif;
}

.hero {
	position: relative;
	padding-top: 80px;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url("../images/decor-large-icon.svg") repeat-x;
}

.hero h1 {
	margin-bottom: 40px;
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	text-transform: uppercase;
	color: var(--text-zagolovochnyy);
}

.hero h1 strong {
	color: var(--akcent);
	font-weight: 600;
}

.hero-info .text {
	max-width: 439px;
	margin-bottom: 140px;
}

.hero-container {
	display: flex;
	align-items: center;
	gap: 28px;
}

.hero-images {
	position: relative;
	display: flex;
}

.hero-choose {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 161px;
	padding: 22px;
	border: 1px solid var(--text-nabornyy);
	background: rgb(255 255 255 / 0.9);
	text-align: center;
}

.news-container {
	display: flex;
	justify-content: center;
	gap: 28px;
}

.news-article {
	display: flex;
	margin-top: auto;
	flex-direction: column;
	max-width: 284px;
	background: #fff;
	border: 1px solid var(--stroke);
	overflow: hidden;
}

.news-article img {
	display: block;
}

.news-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}

.news-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news-article footer {
	padding: 0 20px 20px;
}

.news-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--akcent);
}

.news-link::after {
	display: inline-block;
	content: "";
	width: 22px;
	height: 9px;
	background-image: url(../images/arrow-right-icon.svg);
	transition: transform 0.3s;
}

.news-link:hover::after {
	transform: translateX(5px);
}
